html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: rgb(197, 235, 197);
}